* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: gray;
    height: 60px;
}

.logo-circle {
    height: 100%;
    border-radius: 100%;
    border: 1px solid red;
    background-color: white;
}