* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* Inicio Header */

.header {
    /* background-color: gray; */
    height: 60px;
}

.logo-circle {
    height: 100%;
    border-radius: 100%;
    background-color: white;
}

.logo-imagem-size {
    width: 50%;
}


/* inicio nav */

.nav--padding {
    padding: 15px;
}

.nav {
    float: right;
}

.nav__img {
    width: 40px;
    opacity: 0.6;
}

.nav__list {
    display: none;
    list-style-type: none;
}


/* Inicio Hero */

.container {
    width: 100%;
    padding: 2rem;
}

.container__content {
    background: red;
    border: 1px solid black;
    display: inline-block;
    margin-right: -4px;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem;
    background-color: grey;
}

.footer__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.footer__list a {
    text-decoration: none;
    color: white;
}

.copyright {
    color: white;
}

@media screen and (min-width: 768px) {
    /* Inicio nav */
    .nav--padding {
        padding: 25px;
    }
    .nav__img {
        display: none;
    }
    .nav__list {
        display: flex;
    }
    .nav__list-item {
        width: 70px;
        height: 10px;
        margin: 0 2%;
        padding: 0;
        background: grey;
    }
    /* Fim nav */
    .hero__feature {
        float: right;
    }
    /* Inicio Footer */
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}