<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="css/10-section-article.css">
    <title>10-section-article</title>
</head>
<body>
    <section class="container">
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
        <article class="container__content col-cl-5 col-tb-5 col-dk-4">
            text
        </article>
    </section>
</body>
</html>