<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="./hero.css">
    <title>Hero</title>
</head>
<body>
    <section class="hero">
        <img src="http://via.placeholder.com/1600x1200" alt="" class="hero__feature col-cl-5 col-tb-5 col-dk-6">
        <h2 class="hero__tittle">Lorem, ipsum</h2>
        <p class="hero__description col-cl-5 col-tb-5 col-dk-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat dolor mollitia commodi beatae quibusdam quas asperiores nam rerum sunt numquam quod ab praesentium similique, quam ipsa consequatur ducimus, dignissimos facilis. Earum non eaque eveniet laudantium et. Quam placeat nemo accusantium, quis molestiae odio deleniti? Esse quia natus animi earum!</p>
    </section>
</body>
</html>